<!doctype html>
<html lang="en">
<body>
    <nav class="navbar navbar-expand-lg bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/images/ask.png" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto"  style="margin-left:auto; margin-right:0;">
                    <li class="nav-item">
                        <a class="nav-link" href="#hero">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
                <a href="./Users/SignUp" class="btn btn-brand ms-lg-3">SignUp</a>
            </div>
        </div>
    </nav>

    <!-- hero -->
    <section id="hero" class="min-vh-100 d-flex align-items-center text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 data-aos="fade-left" class="text-uppercase text-white fw-semibold">Make every study hour count</h1>
                    <h5 class="text-white mt-3 mb-4" data-aos="fade-right">Join over 13 thousand students around the world using <B>ASKME</B></h5>
                    <div data-aos="fade-up" data-aos-delay="50">
                        <a href="./Users/SignUp" class="btn btn-brand me-2">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- About -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">About Us</h1>
                        <p>Our expert tutors help students everyday.</p>
        <div class="line"></div>
                    </div>
                </div>
            </div>
      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="~/images/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3>Our system recommends the best tutors for your question.</h3>
          <p class="fst-italic">
            Get help with homework questions from verified tutors 24/7 on demand. Access 20 million homework answers, class notes, and study guides in our Notebank.
          </p>
          <ul>
            <li>
              <i><img src="~/images/store-alt-regular-36.png" alt=""></i>
              <div>
                <h5>Post a Question</h5>
                <p>Ask all types of questions big or small from basic math to rocket science.</p>
              </div>
            </li>
            <li>
                <i><img src="~/images/images-regular-36.png" alt=""></i>
              <div>
                <h5>Explanation & Answer</h5>
                <p>Tutors give quality explanations & answers via messenger.</p>
              </div>
            </li>
          </ul>
          <p>
            Motivate every student to mastery with easy-to-customize content combined with tools for inclusive assessment, instruction, and practice.
          </p>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- Count -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <h2 class="statistic-counter">232</h2>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <h2 class="statistic-counter">521</h2>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <h2 class="statistic-counter">1463</h2>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-people"></i>
            <h2 class="statistic-counter">23</h2>
            <p>Hard Workers</p>
          </div>
        </div>

      </div>

    </div>
  </section>
<!-- Reviews -->
    <section id="reviews" class="section-padding bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Reviews</h1>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="150">
                    <div class="review">
                        <div class="review-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <p>Great alternative for when you are having trouble or do not have time to complete an assignment.</p>
                        </div>
                        <div class="review-person mt-4 d-flex align-items-center">
                            <img class="rounded-circle" src="./images/avatar-1.jpg" alt="">
                            <div class="ms-3">
                                <h5>Dianne Russell</h5>
                                <small>Data Structurs</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="250">
                    <div class="review">
                        <div class="review-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <p>Good helper with provision of good service. It is a convenient platform in which people can seek their need easily.</p>
                        </div>
                        <div class="review-person mt-4 d-flex align-items-center">
                            <img class="rounded-circle" src="./images/avatar-2.jpg" alt="">
                            <div class="ms-3">
                                <h5>William</h5>
                                <small>Data Base</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="350">
                    <div class="review">
                        <div class="review-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>                            </div>
                            <p>My experience has been great!</p>
                        </div>
                        <div class="review-person mt-4 d-flex align-items-center">
                            <img class="rounded-circle" src="./images/avatar-3.jpg" alt="">
                            <div class="ms-3">
                                <h5>Elijah Johns</h5>
                                <small>Algotithms</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="450">
                    <div class="review">
                        <div class="review-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>                            </div>
                            <p>Janet, is amazing! Communication is great. She finished my assignments before the due date. Definitely will be working with her again.</p>
                        </div>
                        <div class="review-person mt-4 d-flex align-items-center">
                            <img class="rounded-circle" src="./images/avatar-4.jpg" alt="">
                            <div class="ms-3">
                                <h5>Oliver Adams</h5>
                                <small>Operationg System</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="550">
                    <div class="review">
                        <div class="review-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <p>Such a good site for people to use. Very good information, and I love how quickly they get back with me. Customer service is also top notch.</p>
                        </div>
                        <div class="review-person mt-4 d-flex align-items-center">
                            <img class="rounded-circle" src="./images/avatar-5.jpg" alt="">
                            <div class="ms-3">
                                <h5>Benjamin</h5>
                                <small>Algorithms</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="650">
                    <div class="review">
                        <div class="review-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>                            </div>
                            <p>Very smooth experience. It will be good to be able to chat also on what's up as your app isn't available in all the countries for download.</p>
                        </div>
                        <div class="review-person mt-4 d-flex align-items-center">
                            <img class="rounded-circle" src="./images/avatar-6.jpg" alt="">
                            <div class="ms-3">
                                <h5>Liam James</h5>
                                <small>Computer Architecture</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- team -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
            <div class="section-title">
                <h1 class="display-4 fw-semibold">Our Team</h1>
                <div class="line"></div>
            </div>
        </div>

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="~/images/person1.jpg" class="img-fluid" alt="">
            <h4>Walter White</h4>
            <span>Web Development</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="~/images/person3.jpg" class="img-fluid" alt="">
            <h4>John Jhinson</h4>
            <span>Marketing</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="~/images/person5.jpg" class="img-fluid" alt="">
            <h4>William Anderson</h4>
            <span>Content</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <img src="~/images/person1.jpg" class="img-fluid" alt="">
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>
  </section>
<!-- contact      -->
<section class="section-padding bg-light" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                <div class="section-title">
                    <h1 class="display-4 text-white fw-semibold">Drop Us A Message</h1>
                    <div class="line bg-white"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" data-aos="fade-down" data-aos-delay="250">
            <div class="col-lg-8">
                <form action="#" class="row g-3 p-lg-5 p-4 bg-white theme-shadow">
                    <div class="form-group col-lg-12">
                        <input type="email" class="form-control" placeholder="Enter Email address">
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="text" class="form-control" placeholder="Enter subject">
                    </div>
                    <div class="form-group col-lg-12">
                        <textarea name="message" rows="5" class="form-control" placeholder="Enter Message"></textarea>
                    </div>
                    <div class="form-group col-lg-12 d-grid">
                        <button class="btn btn-brand">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>