@model User
@{
    Layout = null;
}
    <div class="form-outline mb-4">
        <label class="form-label" asp-for="Name"></label>
        <input asp-for="Name" class="form-control"
            placeholder="Name" required/>
    </div>
    