<!doctype html>
<html lang="en">
<body>
  <div class="container">
  <div class="row row align-items-center justify-content-center">
        <div class="col-md-4 mx-auto">
      <div>
      <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
      <div class="modal-footer"><a href="/" class="btn btn-brand btn-block">Logout</a></div>
    </div>
    </div>
  </div>
  </div>
</body>
</html>